<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.teliak.opennavigation" name="OpenNavigation" version="0.0.1">
    <platform name="ios">
        <source-file src="ios/Sources/OpenNavigationPlugin/OpenNavigation.swift" />
        <source-file src="ios/Sources/OpenNavigationPlugin/OpenNavigationPlugin.swift" />
    </platform>
</plugin>